<table style="width: 100%;">    
    <tbody>    
     <tr>    
      <td style="width: 3.3845%;"><span style="font-size:15px;">Kepada</span>    
       <br>    
      </td>    
      <td style="width: 3.565%;">:</td>    
      <td style="width: 91.0198%;"><span style="font-size:15px;"><strong> PIC Fungsi ICT</strong></span>    
       <br>    
      </td>    
     </tr>    
    </tbody>    
</table>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;">    
    <br>    
</p>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;"><span style="font-size:15px;">
    Anda mendapatkan notifikasi temuan baru dari sistem audit internal PDSI dengan judul lha <bold><%= JudulLHA %></bold>. Untuk info lebih lanjut dapat dilihat melalui aplikasi Internal Audit<strong></strong>. </span></p>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;">    
    <br>    
</p>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;">
    <span style="font-size:15px;">Demikian disampaikan, a</span>
    <span style="font-size:15px;">atas perhatian dan kerjasamanya diucapkan terima kasih.&nbsp;</span>
</p>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;">    
    <br>    
</p>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;"><span style="font-size:15px;">Best Regards</span><span style="font-size:15px;">,</span></p>    
<p style="margin:0cm;margin-bottom:.0001pt;font-size:16px;"><span><strong>Internal Audit PDSI&nbsp;</strong></span></p>    
<p>    
<br>    
</p>